@model IList<IList<RouteVM>>

@foreach (IList<RouteVM> route in Model)
{
    <div class="route">
        @{
            double businessSum = 0;
            double economicSum = 0;
        }

        @foreach (RouteVM r in route)
        {
            <div class="row">
                <div class="col-md-4">
                    <p>Time of departure: @r.TimeOfDeparture</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>@r.StartStation &rarr; @r.EndStation</p>
                </div>
                <div class="col-md-4">
                    <p>Business: € @r.PriceBusiness (still @r.AvailableSeatsBusiness available)</p>
                    <p>Economic: € @r.PriceEconomic (still @r.AvailableSeatsEconomic available)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>Time of arrival: @r.TimeOfArrival</p>
                </div>
            </div>
            <hr />

            businessSum += r.PriceBusiness;
            economicSum += r.PriceEconomic;

        }
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <p>Total price business: € @businessSum</p>
                </div>
                <div class="row">
                    <p>Total price economic: € @economicSum</p>
                </div>
            </div>
            <div class="col-md-4">
                <a class="form-control horizontal-submit btn"
                   asp-action="BuyTicket"
                   asp-route-departureId="@route.First().Tgv.LineNavigation.Departure"
                   asp-route-destinationId="@route.Last().Tgv.LineNavigation.Destination" 
                   asp-route-dateOfDeparture="@route.First().TimeOfDeparture">
                    Buy tickets
                </a>
            </div>
        </div>
    </div>
    
}