@model TGV_Eindproject_WebDevelopment.UI.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h2>Shopping cart:</h2>

<h4>Review your shopping cart</h4>

@if (Model == null)
{
    @Html.Raw("Your shopping cart is empty at the moment.")
}
else
{
    <form method="post">
        <div class="row">
            <div class="col-md-2">
                Route
            </div>
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Content[0].TimeOfDeparture)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].AvailableSeatsBusiness)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].AvailableSeatsEconomic)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].PriceBusiness)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].PriceEconomic)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].Business)
            </div>
            <div class="col-md-1">
                @Html.DisplayNameFor(model => model.Content[0].Amount)
            </div>
            <div class="col-md-2">
                Total price
            </div>
        </div>
        @{
            double total = 0;
        }
        @for (int i = 0; i < Model.Content.Count; i++)
        {
            <div class="row">
                @Html.HiddenFor(r => r.Content[i].DepartureId)
                @Html.HiddenFor(r => r.Content[i].DestinationId)
                @Html.HiddenFor(r => r.Content[i].TgvId)
                @Html.HiddenFor(r => r.Content[i].StartStation)
                @Html.HiddenFor(r => r.Content[i].EndStation)
                @Html.HiddenFor(r => r.Content[i].TimeOfArrival)
                <div class="col-md-2">
                    @Model.Content[i].StartStation &rarr; @Model.Content[i].EndStation
                </div>
                <div class="col-md-2">
                    <input asp-for="@Model.Content[i].TimeOfDeparture" readonly="readonly" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].AvailableSeatsBusiness" type="number" readonly="readonly" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].AvailableSeatsEconomic" type="number" readonly="readonly" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].PriceBusiness" id="@("txtBusiness" + i)" type="number" readonly="readonly" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].PriceEconomic" id="@("txtEconomic" + i)" type="number" readonly="readonly" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].Business" class="checkboxes" />
                </div>
                <div class="col-md-1">
                    <input asp-for="@Model.Content[i].Amount" type="number" readonly="readonly" class=" amount" />
                </div>
                <div class="col-md-2">
                    <input id="@("txtSubtotal"+ i)" value="@Model.Content[i].PriceEconomic" type="number" readonly="readonly" class=" subtotal" />
                </div>
                @{
                    total += Model.Content[i].PriceEconomic;
                }
            </div>
        }
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-1">
                <input type="number" id="amount" min="1" max="10" value="1" />
            </div>
            <div class="col-md-1">
                <input id="totalPrice" type="number" readonly="readonly" value="@total"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
                <input type="submit" value="Checkout" class="form-control horizontal-submit" />
            </div>
        </div>
    </form>
}

@section Scripts {
    <script src="~/js/shopping-cart.js"></script>
}