@model IList<TGV_Eindproject_WebDevelopment.Domain.Entities.Tickets>
@{
    ViewData["Title"] = "PlaceOrder";
}

<h2>Thank you for your purchase!</h2>

<a asp-controller="Home" asp-action="Hotels" asp-route-destination="@Model.Last().Tgv.LineNavigation.DestinationNavigation.City" class="btn form-control horizontal-submit">
    Click here for some suggestions for a place to stay.
</a>

<h3>Thank you for your order placed on @DateTime.Now.ToString("dd/MM/yyyy")</h3>
<h4>You can find a summary of your order below</h4>

@foreach (Tickets t in Model)
{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h5> + @t.Name + </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                Time of departure: @t.DateOfDeparture.Add(t.Tgv.TimeOfDeparture)<br />
                Time of arrival: @t.DateOfDeparture.Add(t.Tgv.TimeOfDeparture).Add(t.Tgv.LineNavigation.Duration)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p>
                @t.Tgv.LineNavigation.DepartureNavigation.City &rarr; @t.Tgv.LineNavigation.DestinationNavigation.City
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <p>Type: 
            
            @if (t.IsBusiness == 1)
            {
                <span>Bussines seat</span>
            }
            else
            {
                <span>Economic seat</span>
            }
            <br/>
            Seat: @t.SeatNumber
            <br/>
            Price: @t.Price 
            </p>   
        </div>   
    </div>
}
