@model TGV_Eindproject_WebDevelopment.Domain.Entities.Tickets

@{
    ViewData["Title"] = "CancelTicket";
}

<h2>Are you sure that you want to cancel this ticket?</h2>

<div class="row">
    <div class="col-md-4">
        <h3>@Model.Name</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Time of departure: @Model.DateOfDeparture.Add(Model.Tgv.TimeOfDeparture)<br />
            Time of arrival: @(Model.DateOfDeparture.Add(Model.Tgv.TimeOfDeparture).Add(Model.Tgv.LineNavigation.Duration))
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            @Model.Tgv.LineNavigation.DepartureNavigation.City &rarr; @Model.Tgv.LineNavigation.DestinationNavigation.City
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Type:

            @if (Model.IsBusiness == 1)
            {
                <span>Bussines seat</span>
            }
            else
            {
                <span>Economic seat</span>
            }
            <br />
            Seat: @Model.SeatNumber
            <br />
            Price: @Model.Price Euro
        </p>
    </div>
</div>

<form>
    <a class="form-control horizontal-submit btn" asp-action="CancelTicketConfirm" asp-route-id="@Model.Id">Cancel this ticket</a>
    <a class="form-control horizontal-submit btn" asp-action="History">Go back</a>
</form>
