@model TGV_Eindproject_WebDevelopment.Domain.Entities.Tickets

@{
    ViewData["Title"] = "CancelTicket";
}

<h2>Are you sure that you want to cancel this ticket?</h2>
<!--
<div class="row">
    <div class="col-md-4">
        <p>
            Time of departure: @Model.DateOfDeparture<br />
            Time of arrival: @(Model.DateOfDeparture + Model.Tgv.LineNavigation.Duration)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            @Model.Tgv.LineNavigation.Departure &rarr; @Model.Tgv.LineNavigation.Destination
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Type:

            @if (Model.IsBusiness == 1)
            {
                <span>Bussines seat</span>
            }
            else
            {
                <span>Economiv seat</span>
            }
            <br />
            Price: @Model.Price
        </p>
    </div>
</div>-->
