@model IEnumerable<TGV_Eindproject_WebDevelopment.Domain.Entities.Tickets>

@{
    ViewData["Title"] = "History";
}

<h2>History</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBusiness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    string color;
    if (item.IsCancelled == 1)
    {
        color = "lightcoral";
    }
    else if (DateTime.Compare(item.DateOfDeparture, DateTime.Now) < 0)
    {
        color = "lightgray";
    }
    else
    {
        color = "white";
    }

        <tr style="background-color: @color">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDeparture)
            </td>
            <td>
                @if (item.IsBusiness == 1)
                {
                    <span>Business seat</span>
                }
                else
                {
                    <span>Economic seat</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (item.IsCancelled == 1 || DateTime.Compare(item.DateOfDeparture, DateTime.Now) < 0)
            {
                <td>
                    N/A
                </td>
            }
            else if (item.DateOfDeparture.Date.AddDays(-3).CompareTo(DateTime.Now.Date) < 0)
            {
                <td>
                    Too late to cancel
                </td>
            }
            else
            {
                <td>
                    <a asp-action="CancelTicket" asp-route-Id="@item.Id">Cancel this order?</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
